section.gallery#galleryId
  h3 Фотогалерея
  .container
    .row
      .col
        .owl-carousel.owl-theme
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
          img(src=require('src/images/test.png'), alt="")
