section.gallery#galleryId
  h3 Фотогалерея
  .container
    .row
      .col
        .owl-carousel.owl-theme#owl
          img(src=require('src/images/gallery/test2.jpg'), alt="",)
          img(src=require('src/images/gallery/test1.jpg'), alt="")
          img(src=require('src/images/gallery/test3.jpg'), alt="" )
          img(src=require('src/images/gallery/test2.jpg'), alt="",)
          img(src=require('src/images/gallery/test1.jpg'), alt="")
          img(src=require('src/images/gallery/test3.jpg'), alt="" )
