section.services#servicesId
  h3.text-center Услуги
  .container
    .row
      .col-md-4
        .card
          img(src=require('src/images/shelf.png'), alt="", class="card-image")
          .card-body
            .card-text Хранение товаров
      .col-md-4
        .card
          img(src=require('src/images/boxes.png'), alt="", class="card-image")
          .card-body
            .card-text Погрузочно-разгрузочные работы
      .col-md-4
        .card
          img(src=require('src/images/clipboard.png'), alt="", class="card-image")
          .card-body
            .card-text Отбор и комплектация заказов
      .col-md-4
        .card
          img(src=require('src/images/box1.png'), alt="", class="card-image")
          .card-body
            .card-text упаковка, маркировка, паллетирование
      .col-md-4
        .card
          img(src=require('src/images/insurance.png'), alt="", class="card-image")
          .card-body
            .card-text Страхование товара, хранящегося на складе
      .col-md-4
        .card
          img(src=require('src/images/file.png'), alt="", class="card-image")
          .card-body
            .card-text Изготовление приходно-расходной документации
